Repository a101201031/password-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

chore: hysky commands
  .husky/pre-commit
  package.json
Due: prettier --write

chore: lock update
  packages/backend/yarn.lock
Due: none

chore: add husky command
  .husky/pre-commit
Due: none

chore: run prettier
  packages/backend/src/functions/accountList.ts
  packages/backend/src/libs/lambda.ts
  packages/backend/src/util/mysql.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: account edit page fix
  packages/backend/src/functions/account.ts
  packages/backend/src/functions/group.ts
  packages/frontend/src/store/account.ts
  packages/frontend/src/store/group.ts
Due: prettier --write, eslint --fix --max-warnings=0

style: use conditional operator
  packages/frontend/src/router/ProtectedRoute.tsx
Due: prettier --write, eslint --fix --max-warnings=0

improve: group search field
  packages/frontend/src/components/GroupBoard.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: add group component (Group, GroupAdd)
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Group.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/store/account.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add GroupEdit component
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Group.tsx
  packages/frontend/src/components/GroupBoard.tsx
Due: prettier --write, eslint --fix --max-warnings=0

style: add margin (TextField)
  packages/frontend/src/components/Group.tsx
Due: prettier --write, eslint --fix --max-warnings=0

style: combine model name
  packages/backend/src/functions/account.ts
  packages/backend/src/functions/accountList.ts
  packages/backend/src/functions/signUp.ts
  packages/backend/src/model/account.ts
  packages/backend/src/model/user.ts
  packages/frontend/src/components/Account.tsx
  packages/frontend/src/model/account.ts
  packages/frontend/src/model/user.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add selector reset trigger
  packages/frontend/src/store/account.ts
  packages/frontend/src/store/group.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/selectorControl.ts
  packages/frontend/src/store/selectorMapper.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add feedback component
  packages/frontend/src/components/Feedback.tsx
  packages/frontend/src/components/Main.tsx
  packages/frontend/src/components/index.ts
  packages/frontend/src/store/feedback.ts
  packages/frontend/src/store/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: put fetcher fix
  packages/frontend/src/helper/fetcher.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: password updatable (updateAccount api)
  packages/backend/src/apiSchema/account.ts
  packages/backend/src/functions/account.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: fix query params parser
  packages/frontend/src/helper/fetcher.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add account form handler
  packages/backend/src/apiSchema/account.ts
  packages/backend/src/functions/account.ts
  packages/backend/src/handlers.ts
  packages/frontend/src/components/Account.tsx
  packages/frontend/src/store/account.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: upgrade serverless offline
  packages/backend/package.json
  packages/backend/yarn.lock
Due: prettier --write

chore: remove unnecessary code, fix typo
  packages/backend/src/functions/account.ts
  packages/frontend/src/components/Account.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: add group form handler
  packages/backend/package.json
  packages/backend/src/apiSchema/group.ts
  packages/backend/src/functions/group.ts
  packages/backend/src/handlers.ts
  packages/backend/src/libs/api-gateway.ts
  packages/frontend/src/components/Group.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: add user menu
  packages/frontend/src/components/ItemList.tsx
  packages/frontend/src/components/Main.tsx
  packages/frontend/src/components/sign/SignIn.tsx
  packages/frontend/src/components/sign/SignOut.tsx
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/user.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add user profile page
  packages/backend/.eslintrc.js
  packages/backend/src/apiSchema/index.ts
  packages/backend/src/apiSchema/user.ts
  packages/backend/src/functions/user.ts
  packages/backend/src/handlers.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/User.tsx
  packages/frontend/src/components/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

style: modify sign page style
  packages/frontend/src/components/sign/SignIn.tsx
  packages/frontend/src/components/sign/SignUp.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: use path param instead of query param
  packages/backend/src/apiSchema/account.ts
  packages/backend/src/apiSchema/group.ts
  packages/backend/src/functions/account.ts
  packages/backend/src/functions/group.ts
  packages/backend/src/handlers.ts
  packages/frontend/src/components/Account.tsx
  packages/frontend/src/components/Group.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: add password view
  packages/backend/src/apiSchema/index.ts
  packages/backend/src/apiSchema/password.ts
  packages/backend/src/functions/password.ts
  packages/backend/src/handlers.ts
  packages/frontend/src/components/AccountBoard.tsx
  packages/frontend/src/components/AccountCard.tsx
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/password.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add user password change popup
  packages/backend/src/apiSchema/user.ts
  packages/backend/src/functions/user.ts
  packages/backend/src/handlers.ts
  packages/frontend/src/components/User.tsx
  packages/frontend/src/store/user.ts
  packages/frontend/src/validation/index.ts
  packages/frontend/src/validation/user.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: fix validation in account add
  packages/backend/src/functions/account.ts
  packages/frontend/src/components/Account.tsx
  packages/frontend/src/validation/account.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add user delete popup
  packages/backend/src/apiSchema/user.ts
  packages/backend/src/functions/user.ts
  packages/backend/src/handlers.ts
  packages/frontend/src/components/User.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: add user name edit
  packages/backend/src/apiSchema/user.ts
  packages/backend/src/handlers.ts
  packages/frontend/src/components/Account.tsx
  packages/frontend/src/components/User.tsx
  packages/frontend/src/validation/account.ts
  packages/frontend/src/validation/sign.ts
  packages/frontend/src/validation/user.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add logo
  packages/frontend/public/index.html
  packages/frontend/public/logo/default_logo.png
  packages/frontend/public/logo/epic_games_logo.png
  packages/frontend/public/logo/facebook_logo.png
  packages/frontend/public/logo/naver_logo.png
  packages/frontend/public/logo/riot_games_logo.png
  packages/frontend/src/components/Account.tsx
  packages/frontend/src/components/AccountCard.tsx
  packages/frontend/src/components/GroupBoard.tsx
  packages/frontend/src/components/Main.tsx
  packages/frontend/src/components/User.tsx
  packages/frontend/src/constants/SERVICES.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: change account update method
  packages/backend/src/handlers.ts
  packages/backend/src/util/firebaseAdmin.ts
  packages/frontend/src/components/Account.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: deployment script
  .github/workflows/client-deploy.yml
Due: none

fix(ci): remove unnessary script command
  .github/workflows/client-deploy.yml
Due: none

feat: add redirection
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Account.tsx
  packages/frontend/yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0

feat(ci): install dep in frontend folder too
  .github/workflows/client-deploy.yml
Due: none

chore: remove favicon
  packages/frontend/public/index.html
Due: none

feat(ci): add script env
  .github/workflows/client-deploy.yml
Due: none

feat: add shortcut icon
  packages/frontend/public/favicon.ico
  packages/frontend/public/index.html
Due: none

feat: use node env
  packages/frontend/src/constants/ENV.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add cloudfront invalidation
  .github/workflows/client-deploy.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,md,json,css}) or (any of: *.{ts,tsx})
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
